:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.things{
  margin-bottom: 12px;
  flex-wrap: wrap;
  display: flex;
  gap: 2em;
}

#upload{
  width: 180px;
}
.button-8 {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-8:hover,
.button-8:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.button-8:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-8:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.subtitle{
  position: relative;
}

.subtitle form{
  display: flex;
  flex-direction: column;
}
.subtitle form .top p{
  margin: 0;
}
p{
  margin: 0;
}
.subtitle input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}


.volume-slider {
  width: 200px;
  height: 12px;
  /* background-color: #ddd; */
  border-radius: 4px;
  /* position: relative; */
}

.volume-slider input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100px;
  height: 100%;
  background: transparent;
  outline: none;
}

.volume-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background-color: #39739d;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.volume-slider input[type="range"]::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background-color: #333;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.volume-slider input[type="range"]::-webkit-slider-runnable-track {
  background-color: #ddd;
  height: 4px;
  border-radius: 2px;
}

.volume-slider input[type="range"]::-moz-range-track {
  background-color: #ddd;
  height: 4px;
  border-radius: 2px;
}
.warnings{
  width: 270px;
}
.short-input{
  width: 170px;
}

.hide{
  display: none;
}

